/* Nicola CSS */

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 47px;
  font-weight: 300;
}


/* Box */

.amis-box{
  background-color: #FFFFFF;
  height: 100%;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  position: relative;
  visibility: hidden;
}


.label-default{
  background-color: transparent;
  font-weight: normal;
}

#pivotGrid_table_caption{
  font-size: 12px;
  border: 1px solid #E2E2E2;
  text-transform: uppercase;

}


#clickedCell{
  border-color: transparent;
  border-bottom: 1px solid #DCDCDC;
}

.select2-results{
  font-size: 12px;
}

/* TIMEPICKER  */
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/*
    GRID
*/
.blueLine{
  color: #0082AD;
}

.greenLine{
  color: #047A00;
}

.redLine {
  color : #7A0000;
}

.fx-catalog-modular-form-handler {
  position: absolute;
  left: 7px;
  top: 7px;
  height: 15px;
  width: 15px;
  background: url("icons/fenix-catalog-sprite-small.png") no-repeat -15px 0;
  cursor: pointer;
}

#options {
  visibility : hidden;
  text-align: right;
  color: #333;
  width : 100%;
  height: 40px;
  widows: inherit;
}

.label {
  color: #333 !important;
}

#tablePivot {
  visibility : hidden
}

#simulateButton {
  visibility : hidden
}

/* TITLE GRID */

#titlepivotGrid{
  background-color: #FAFAFA;
  font-size: 12px;
  border: 1px solid #E2E2E2;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.webix_view {
  font-size: 12px;
}


.webix_view .webix_dt_editor input, .webix_view .webix_dt_editor select {
  border: 5px solid #3498db;
}

/* EDITING SPECIAL */

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.firstColumn{
  background-color: #FAFAFA;
  font-size: 12px;
}

#editingChoice{
  margin-top: 12px;
}

.calculatedRowGrid{
  background-color: rgba(191, 201, 238, 0.34);
}
.labelRice{
  color: #0082AD;
}

.labelCheckBoxes{
  color: #00738A;
}

.modal .modal-dialog{
  /* new custom width */
  width: 800px;
  /* must be half of the width, minus scrollbar on the left (30px) */
}
.webix_dd_drag_column, .webix_ss_header TD, .webix_ss_vscroll_header {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.datesColumns{
  font-weight: normal;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;

}

.webix_dt_editor input, .webix_dt_editor select {
  border: 1px solid gold;
  box-sizing: border-box;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  padding: 1px 8px 0 9px;
  width: 100%;
}

.webix_view .webix_dt_editor input, .webix_view .webix_dt_editor select {
  border: 3px solid #3498db;
}

.webix_hs_center >table > tbody > tr:nth-child(3)>td {
  font-weight: normal;
  font-size: 12px;
  font-family: 'Roboto', sans-serif ;
}




