<div class="modal fade" id="populationForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close"  id="closeModalPopulation"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Population Form</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="labelTitlePopulation">Population data for <strong
                                    id="labelTitlePopulation"></strong></h5>
                        </div>
                    </div>

                    <div class="btn-group amis-btn-group">
                        <button type="button" class="btn btn-primary" id="createNewPopulationYear">Create a new year</button>
                        <button type="button" class="btn btn-primary" id="resetPopulationValues">Reset Values</button>

                    </div><br><br>

                    <div class="row">
                        <div class="col-xs-12">
                            <div id="gridPopulation" style="height: 20px"></div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1" id="alertTotal"/>

                </div>
                <br>
            </div>

            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default pull-left" id="closePopulationForm">Close Population</button>
                        </div>

                        <div class="col-xs-6">
                            <button type="button" class="btn btn-danger" id="savePopulationValues">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



