/* Amis Variables */

$font-family-main: "open_sanscondensed_light";
$font-family-bold: "open_sanscondensed_light";
$font-size-main: 14px;



/* Colors */
$amis-color-body: #f9f7f3;
$amis-color-light-bg: #fafafa;
$amis-color-text-main: #777;
$amis-color-text-alternate: #999;

$amis-color-highlight: red;